<!DOCTYPE HTML>
<html lang="uk-UA">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
  <meta name="studio" content="Дизайн студія Миколи Вороніна">
  <meta name="art-director" content="Микола Воронін">
  <meta name="web-developer" content="Калантаєвській Віктор">
  <%= yield :html_head %>
  <%= csrf_meta_tags %>
  <!-- script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAvkI36T-T6xJe8Qif7QkbQ1xvTl8Ha_9o&sensor=true"></script>
  <script type="text/javascript" src="http://hpneo.github.com/gmaps/prettify/prettify.js"></script>
  <link rel="stylesheet" href="http://hpneo.github.com/gmaps/prettify/prettify.css">
  <script type="text/javascript">

    $(document).ready(function() {
      new GMaps({
        div: '#map',
        lat: -12.043333,
        lng: -77.028333
      });
    });


  </script -->
</head>
<body <%= request.env['HTTP_CACHE_CONTROL'] %> data="<%= request.env['HTTP_ACCEPT_ENCODING'] %>">
<div id="wraper-body">
