<style>
  .parallax-layer{
    top: 900px;
  }
</style>

<script>
$(document).ready(function() {
  $('#animate1').click(function(){
    $("#banners").animate({
      height: 486
    },
    {
      duration: 2000,
      easing: 'easeInOutExpo'
    });
  });

  $('#animate2').click(function(){
    $("#banners").animate({
      height: 100
    },
    {
      duration: 2000,
      easing: 'easeInOutExpo'
    });
  });


  $("#animate3").click(function(){
    window.setTimeout(AnimatedFirst, 2000);
    window.setTimeout(AnimatedSecond, 1500);
    window.setTimeout(AnimatedThird, 1000);
    window.setTimeout(AnimatedSublast, 4000);
    window.setTimeout(AnimatedLast, 5000);
  });

  function PlayFirstBanner(){
    window.setTimeout(AnimatedFirst, 2000);
    window.setTimeout(AnimatedSecond, 1500);
    window.setTimeout(AnimatedThird, 1000);
    window.setTimeout(AnimatedSublast, 4000);
    window.setTimeout(AnimatedLast, 4200);
  }

  function AnimatedFirst(){
    $('#layer-1').animate(
      { top: 0 },
      { duration: 2000, easing: 'easeOutBack' }
    );
  }

  function AnimatedSecond(){
    $('#layer-2').animate(
      { top: 0 },
      { duration: 1000, easing: 'easeOutBack' }
    );
  }

  function AnimatedThird(){
    $('#layer-3').animate(
      { top: 0 },
      { duration: 1000, easing: 'linear' }
    );
  }

  function AnimatedSublast(){
    $('#layer-4').animate(
      { top: 0 },
      { duration: 1300, easing: 'easeOutBack' }
    );
  }

  function AnimatedLast(){
    $('#layer-5').animate(
      { top: 0 },
      { duration: 1500, easing: 'easeOutBack', complete: ActivateParalax() }

    );
  }

  function ShowParalax(){
    $("#banners").animate({
      height: 486
    },
    {
      duration: 2000,
      easing: 'easeInOutExpo'
    });
  }

  function ActivateParalax(){
    //Paralax main header banner
    $('#paralax .parallax-layer').parallax({
      mouseport: $('#paralax'),
      xorigin:		1,       // 0-1 - Sets default alignment. Only has effect when parallax values are something other than 1 (or true, or '100%')
      yorigin:		0.8
    });

  }


  window.setTimeout(ShowParalax, 200);
  window.setTimeout(PlayFirstBanner, 300);

});
</script>

<!-- <div id="animate1" style="cursor: pointer; border: 2px red solid; position: fixed; top: 5px; left: 10px; padding: 5px;">
  Click to animate +!
</div>
<div id="animate2" style="cursor: pointer; border: 2px green solid; position: fixed; top: 5px; left: 160px; padding: 5px;">
  Click to animate -!
</div>
<div id="animate3" style="cursor: pointer; border: 2px blue solid; position: fixed; top: 5px; left: 300px; padding: 5px;">
  Show elements !
</div> -->

<!-- Banner section -->
<div id="banners" class="" style="height: 100px;">
  <div class="clearfix parallax-viewport" id="paralax" style="width: 1500px; margin: 0 auto;overflow-x: visible; overflow-y: visible;">
    <!--div class="parallax-layer" style="width:1280px; height:486px;z-index:90;margin-left: 7%;overflow: visible;" id="layer-5">
      <%#= image_tag('two_hearts_4.png') %>
    </div -->
    <div class="parallax-layer" style="width:880px; height:486px;z-index:90;margin-left: 7%;overflow: visible;" id="layer-5">
      <%= image_tag('two_hearts_4.png') %>
    </div>
    <div class="parallax-layer" style="width:1340px; height:486px;z-index:30;margin-left: 5%;overflow: visible;" id="layer-4">
      <%= image_tag('two_hearts_3.png') %>
    </div>
    <div class="parallax-layer" style="width:1470px; height:486px;z-index:50;left: -100px;" id="layer-3">
      <%= image_tag('two_hearts_2.png', :style => 'margin-top: 30px;margin-left: -100px;') %>
    </div>
    <div class="parallax-layer" style="width:1300px; height:486px;z-index:10;margin-left: -5%;" id="layer-2">
      <%= image_tag('two_hearts_1a.png') %>
    </div>
    <div class="parallax-layer" style="width:1400px; height:486px;z-index:15;" id="layer-1">
      <%= image_tag('two_hearts_1b.png', :style => "margin-left: 52%;margin-top: -30px;") %>
    </div>


  </div>

  <div class="container small-banner">
    <div class="row">
      <div class="span12 txt-center">
        <img src="<%= asset_path('small-banner.png') %>" alt="">
      </div>
    </div>
  </div>

</div>
<!-- /Banner section -->

<div id="wrap-bg">
  <div id="wrap-bg-top"></div>
  <div id="content" class="container">

    <div id="proverbs" class="padding">
      <div class="row">
        <div class="span4 proverbs-folding">
          <h2><img src="<%= asset_path('h-heart.png') %>" alt="" class="h2-heart"><%= find_text(1).name %></h2>
          <p class="info-text os"><%= find_text(1).descr %></p>
        </div>

        <div class="span4 proverbs-folding">
          <h2><img src="<%= asset_path('h-heart.png') %>" alt="" class="h2-heart"><%= find_text(2).name %></h2>
          <p class="info-text os"><%= find_text(2).descr %></p>
        </div>

        <div class="span4 proverbs-folding">
          <h2><img src="<%= asset_path('h-heart.png') %>" alt="" class="h2-heart"><%= find_text(3).name %></h2>
          <p class="info-text os"><%= find_text(3).descr %></p>
        </div>
      </div>
    </div>

    <div id="video" class="padding">
      <div class="row">
        <div class="span7">
          <iframe class="main-video-frame" src="http://player.vimeo.com/video/<%= main_video.video_id %>?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

        </div>
        <div class="span5 video-info-block video-text-folding">
          <h1><%= find_text(4).name %></h1>
          <p class="video-text os"><%= find_text(4).descr %></p>
          <p class="video-text os"><i><%= find_text(5).descr %></i></p>
        </div>
      </div>
    </div>

    <div id="separator-top" class="container padding">
      <div class="row">
        <div class="span1 sep-left-flower">
          <img src="<%= asset_path('sep-l.png') %>" alt="">
        </div>
        <div class="span4 sep-line">&nbsp;</div>
        <div class="span2 txt-center sep-center-img">
          <img src="<%= asset_path('h-heart.png') %>" alt=""><h2>Наші роботи</h2>
        </div>
        <div class="span4 sep-line">&nbsp;</div>
        <div class="span1 text-right sep-left-flower">
          <img src="<%= asset_path('sep-r.png') %>" alt="">
        </div>
      </div>
    </div><!-- #seprator - top -->

    <!-- Video Section -->
    <div id="video-section" class="container padding">
      <div class="row">
        <% home_video.each do |hv| %>
        <div class="span3 make-full-width">
          <h3><%= hv.name %></h3>
          <% if hv.vimeo == true %>
        <div class="video-section-frame">
          <iframe src="http://player.vimeo.com/video/<%= hv.video_id %>?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179" width="270" height="152" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
          <% elsif hv.youtube == true %>

          <% end %>
          <p><%= hv.descr %></p>
        </div> <!-- Video item end here -->
        <% end %>
      </div>
    </div>
    <!-- Video Section End -->

    <div id="separator-top" class="container padding">
      <div class="row">
        <div class="span1 sep-left-flower">
          <img src="<%= asset_path('sep-l.png') %>" alt="">
        </div>
        <div class="span4 sep-line">&nbsp;</div>
        <div class="span2 txt-center sep-center-img">
          <img src="<%= asset_path('h-heart.png') %>" alt=""><h2>Відгуки про нас</h2>
        </div>
        <div class="span4 sep-line">&nbsp;</div>
        <div class="span1 text-right sep-left-flower">
          <img src="<%= asset_path('sep-r.png') %>" alt="">
        </div>
      </div>
    </div><!-- #seprator - top -->

    <div id="wedding-feedback" class="container padding">
      <div class="row">
        <% @feedback.each do |f| %>
        <div class="span6 wedding-feedback-container" style="<%= cycle('', '', 'margin-top:10px;', 'margin-top:10px;') %>">
          <div class="feedback-img-sign" >
            <%= image_tag(f.avatar.url(:thumb), :alt => f.name, :class => 'feedback-img') %>
          </div>
          <h2 style="line-height: 26px;"><%= f.name %></h2>
          <p><i><%= truncate(f.descr, :length => 200, :omission => '...') %></i></p>
          <p class="author"><%= f.customer_name %></p>
        </div>
        <% end %>

      </div>
    </div>

    <div id="separator-bottom" class="container padding">
      <div class="row">
        <div class="span1">
          <img src="<%= asset_path('bottom_l.png') %>" alt="">
        </div>
        <div class="span4 sep-line push-down-sep">&nbsp;</div>
        <div class="span2 txt-center push-down-sep">
          <img src="<%= asset_path('h-heart.png') %>" alt="">
        </div>
        <div class="span4 sep-line push-down-sep">&nbsp;</div>
        <div class="span1 text-right">
          <img src="<%= asset_path('bottom_r.png') %>" alt="">
        </div>
      </div>
    </div><!-- #seprator - top -bottom -->

  </div><!-- content -->
  <div id="wrap-bg-bottom"></div>
</div><!-- wrap bg -->
