<!-- Banner section -->
<div id="banners" class="">

  <div class="clearfix" id="paralax">
    <div class="parallax-layer" style="width:974px; height:511px;">
      <img src="<%= asset_path('girl.jpg') %>" />
    </div>
    <div class="parallax-layer" style="width:1474px; height:511px;">
      <img src="<%= asset_path('layer_2.png') %>" />
    </div>

    <div class="parallax-layer" style="width:1274px; height:511px;">
      <img src="<%= asset_path('layer_1.png') %>" />
    </div>


  </div>

  <div class="container small-banner">
    <div class="row">
      <div class="span12 txt-center">
        <img src="<%= asset_path('small-banner.png') %>" alt="">
      </div>
    </div>
  </div>

</div>
<!-- /Banner section -->

<div id="wrap-bg">
  <div id="wrap-bg-top"></div>
  <div id="content" class="container">

    <div id="proverbs" class="padding">
      <div class="row">
        <div class="span4 proverbs-folding">
          <h2><img src="<%= asset_path('h-heart.png') %>" alt="" class="h2-heart">???????</h2>
          <p class="info-text os">??????? – ?? ??????????????? ?? ???????????? ????? ? ????? ?????? ??????. ? ???? ???? ????????, ??? ?? ????? ?????'??????? ???? ?? ????? ????.</p>
        </div>

        <div class="span4 proverbs-folding">
          <h2><img src="<%= asset_path('h-heart.png') %>" alt="" class="h2-heart">???????????</h2>
          <p class="info-text os">???????????? ????? ?????????? ?????????????? ???? ??????? ? ????????, ???????? ?????????? ???????, ????????? ?????? ????????? ?? ???????? ???? ??????? ? ??????????.</p>
        </div>

        <div class="span4 proverbs-folding">
          <h2><img src="<%= asset_path('h-heart.png') %>" alt="" class="h2-heart">?????? ?????</h2>
          <p class="info-text os">They clients are advertising agencies and auto&video companies. We create fresh looking geometric shape with fruit, catch eyes colors.</p>
        </div>
      </div>
    </div>

    <div id="video" class="padding">
      <div class="row">
        <div class="span7">
          <iframe class="main-video-frame" src="http://player.vimeo.com/video/33507366?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

        </div>
        <div class="span5 video-info-block video-text-folding">
          <h1>??? ??????</h1>
          <p class="video-text os">— ?? ??????? ????????? ???????, ??? ??????? ?????????? ??????????? ?? ???????????? ????????????? ????, ???????, ???????, ??????? ?? ????? ????????? ?????. ???????? ?????????? ?? ????????????? ???????? ???????? ??? ???????? ? ???????? ?????????? ???? ? ?????? ?????.</p>
          <p class="video-text os"><i>?? ?????????? ??? ???????? ?????????????? ????????, ???????????? ???? ????? ?????????? ????? ?? ??????? ???? ????????? ?? ????.</i></p>
        </div>
      </div>
    </div>

    <div id="separator-top" class="container padding">
      <div class="row">
        <div class="span1 sep-left-flower">
          <img src="<%= asset_path('sep-l.png') %>" alt="">
        </div>
        <div class="span4 sep-line">&nbsp;</div>
        <div class="span2 txt-center sep-center-img">
          <img src="<%= asset_path('h-heart.png') %>" alt=""><h2>???? ?????</h2>
        </div>
        <div class="span4 sep-line">&nbsp;</div>
        <div class="span1 text-right sep-left-flower">
          <img src="<%= asset_path('sep-r.png') %>" alt="">
        </div>
      </div>
    </div><!-- #seprator - top -->

    <!-- Video Section -->
    <div id="video-section" class="container padding">
      <div class="row">
        <div class="span3 make-full-width">
          <h3>???????????? ?????</h3>
          <div class="video-section-frame">
            <iframe src="http://player.vimeo.com/video/28664667?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179" width="270" height="152" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
          <p>??????? – ?? ??????????????? ?? ???????????? ????? ? ????? ?????? ??????.</p>
        </div>
        <div class="span3 make-full-width">
          <h3>?? ???? ???? ?????????e!</h3>
          <div class="video-section-frame">
            <iframe src="http://player.vimeo.com/video/45818214?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179" width="270" height="152" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
          <p>?? ???? ???? ?????????? ?????? ? ?????????. ? ??? ????? ????? ? ??? ???? ????? ???????????!</p>
        </div>
        <div class="span3 make-full-width">
          <h3>???????????? ?????</h3>
          <div class="video-section-frame">
            <iframe src="http://player.vimeo.com/video/35464138?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179" width="270" height="157" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
          <p>???????????? ????? ?????????? ?????????????? ???? ??????? ? ????????, ???????? ?????????? ???????.</p>
        </div>
        <div class="span3 make-full-width">
          <h3>?????????????? ????????</h3>
          <div class="video-section-frame">
            <iframe src="http://player.vimeo.com/video/27615637?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179" width="270" height="152" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
          <p>?? ?????????? ??? ???????? ?????????????? ????????, ???????????? ???? ?????.</p>
        </div>
      </div>
    </div>
    <!-- Video Section End -->

    <div id="separator-top" class="container padding">
      <div class="row">
        <div class="span1 sep-left-flower">
          <img src="<%= asset_path('sep-l.png') %>" alt="">
        </div>
        <div class="span4 sep-line">&nbsp;</div>
        <div class="span2 txt-center sep-center-img">
          <img src="<%= asset_path('h-heart.png') %>" alt=""><h2>??????? ??? ???</h2>
        </div>
        <div class="span4 sep-line">&nbsp;</div>
        <div class="span1 text-right sep-left-flower">
          <img src="<%= asset_path('sep-r.png') %>" alt="">
        </div>
      </div>
    </div><!-- #seprator - top -->

    <div id="wedding-feedback" class="container padding">
      <div class="row">
        <div class="span6 wedding-feedback-container">
          <div class="feedback-img-sign">
            <img src="<%= asset_path('wf-2.jpg') %>" alt="" class="feedback-img">
            <img src="<%= asset_path('hear_sign_img.png') %>" alt="" class="img-sign">
          </div>
          <h2>????????? ? ?? ??????.</h2>
          <p><i>?? ???? ???? ?????????? ?????? ? ?????????. ? ??? ????? ????? ? ??? ???? ????? ??????????? - ?? ?????? ??????????????? ???????? ? ?? ??? ?? ?? ??????! ??? ?? ??????!</i></p>
          <p class="author">?????? ?? ????????</p>
        </div>

        <div class="span6 wedding-feedback-container">
          <div class="feedback-img-sign">
            <img src="<%= asset_path('wf-2.jpg') %>" alt="" class="feedback-img">
            <img src="<%= asset_path('hear_sign_img.png') %>" alt="" class="img-sign">
          </div>
          <h2>????????? ? ?? ??????.</h2>
          <p><i>?? ???? ???? ?????????? ?????? ? ?????????. ? ??? ????? ????? ? ??? ???? ????? ??????????? - ?? ?????? ??????????????? ???????? ? ?? ??? ?? ?? ??????! ??? ?? ??????!</i></p>
          <p class="author">?????? ?? ????????</p>
        </div>

        <div class="span6 wedding-feedback-container">
          <div class="feedback-img-sign">
            <img src="<%= asset_path('wf-2.jpg') %>" alt="" class="feedback-img">
            <img src="<%= asset_path('hear_sign_img.png') %>" alt="" class="img-sign">
          </div>
          <h2>????????? ? ?? ??????.</h2>
          <p><i>?? ???? ???? ?????????? ?????? ? ?????????. ? ??? ????? ????? ? ??? ???? ????? ??????????? - ?? ?????? ??????????????? ???????? ? ?? ??? ?? ?? ??????! ??? ?? ??????!</i></p>
          <p class="author">?????? ?? ????????</p>
        </div>

        <div class="span6 wedding-feedback-container">
          <div class="feedback-img-sign">
            <img src="<%= asset_path('wf-2.jpg') %>" alt="" class="feedback-img">
            <img src="<%= asset_path('hear_sign_img.png') %>" alt="" class="img-sign">
          </div>
          <h2>????????? ? ?? ??????.</h2>
          <p><i>?? ???? ???? ?????????? ?????? ? ?????????. ? ??? ????? ????? ? ??? ???? ????? ??????????? - ?? ?????? ??????????????? ???????? ? ?? ??? ?? ?? ??????! ??? ?? ??????!</i></p>
          <p class="author">?????? ?? ????????</p>
        </div>
      </div>
    </div>

    <div id="separator-bottom" class="container padding">
      <div class="row">
        <div class="span1">
          <img src="<%= asset_path('bottom_l.png') %>" alt="">
        </div>
        <div class="span4 sep-line push-down-sep">&nbsp;</div>
        <div class="span2 txt-center push-down-sep">
          <img src="<%= asset_path('h-heart.png') %>" alt="">
        </div>
        <div class="span4 sep-line push-down-sep">&nbsp;</div>
        <div class="span1 text-right">
          <img src="<%= asset_path('bottom_r.png') %>" alt="">
        </div>
      </div>
    </div><!-- #seprator - top -bottom -->

  </div><!-- content -->
  <div id="wrap-bg-bottom"></div>
</div><!-- wrap bg -->
